.App {
    text-align: center;
}

.DeerPhoto {

    width: 700px;
    height: 600px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.Button {

    padding: 1rem;
    margin: 50px;
}

.MockHeader {

    background-color: #0d1e3f;
    color: #ffffff;

}

.ListTextProperties {

    font-size: large;
    color:#7c1111;
    font-weight: 500;
    text-align: left;


}

.App-header {
    width: 100%;
    background-color: #0d1e3f;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.SimpleTextClass {

    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;



}

.ColumnTextClass {


    font-size: 17px;
    font-weight: 500;

}

.Rectangle {

    display: inline-block;
    width: 50%;
    height: 50px;
    max-width: 900px;
    background-color: #7c1111;


}